.addintional {
    padding: 80px 0;
    background: #fff;
    
    &-container {
        padding-top: 18px;
    }
    &__title {
        font-size: 32px;
        line-height: 112%;
        color: #333;
        margin-bottom: 41px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 100%;
        max-width: 298px;
        padding: 0 0 7px 20px;
    }
    &__img{
        margin-bottom: 30px;
        width: 100%;
        max-width: fit-content;
    }
    &__subtitle {
        font-size: 18px;
        line-height: 133%;
        color: #333;
        margin-bottom: 13px;
    }
    &__desc {
        font-size: 15px;
        line-height: 160%;
        color: #333;
    }
}